// 定义Qswitch的颜色列表
$brand-white:               #FFFFFF;
$brand-black:               #000000;
$brand-aqua:                #7FDBFF;
$brand-blue:                #0074D9;
$brand-fuchsia:             #F012BE;
$brand-green:               #2ECC40;
$brand-lime:                #01FF70;
$brand-maroon:              #85144B;
$brand-navy:                #001F3F;
$brand-olive:               #3D9970;
$brand-orange:              #FF851B;
$brand-purple:              #B10DC9;
$brand-red:                 #FF4136;
$brand-silver:              #DDDDDD;
$brand-gray:                #AAAAAA;
$brand-teal:                #39CCCC;
$brand-yellow:              #FFDC00;

// 定义灰色色系
$gray-dark:                 #757575;
$gray-light:                #bdbdbd;
$gray-lighter:              #e0e0e0;
$gray-lightest:             #eeeeee;

$border-color: $gray-lighter;